@font-face {
  font-family : myFont;
  src : url('../fonts/tivanon.woff');
}

body {
  font-family : myFont;
  font-weight: 600;
  /*height : 100%;*/
  background-image: url("../images/bg.png");
  /*overflow-y: hidden;*/
  -webkit-font-smoothing: antialiased;
}

html {
  font-family : myFont;
  /*height: 100%;*/
}

#content {
  padding : 30;
}

::-webkit-scrollbar {
    display: none;
}

.div {
  padding : 0;
  margin : 0;
}

body.modal-open body{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.example-appear {
   opacity: 0.01;
}

.example-appear.example-appear-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}
